/* Make h1 headers pretty */
.title, header h1 {
  color:#348154;
  font-family: 'Roboto Condensed';
  text-decoration: underline;
}

/* links and some other text prettify */
.customer-info a, .customer-single, .error, th{
  color: #464646;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
}

/* Hover effect for customer name */
.customer-info a:hover{
  color:#838383;
}

/* All p tags get this styling */
p {
  color: #c98057;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/* Make back button cool */
.btn {
  font-family: 'Roboto Condensed';
  font-size: 1.5rem;
  color:#2e38d1;
}

/* Back button hover effect */
.btn:hover {
  color:#4cbb7a;
}

/* Make the TABLE look decent */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin-bottom: 20px;
}

th, td {
  padding: 5px;
}

th {
  text-align: left;
}


/* Main page grid (customer list) */
.customer-info {
  display: grid;
  grid-template-columns: 17rem 17rem 17rem;
  justify-content: left;
  margin-top: 4rem;

  border-bottom: 1px solid black;
}


